<div id="form">
    <mdb-card class="animated zoomIn">
      <mdb-card-header class="white-text">
        <h4 class="text-center">Modfiier votre profil</h4>
      </mdb-card-header>
      <mdb-card-body>



  
        <form (ngSubmit)="submit()" #localForm="ngForm">
          <div>
            
          </div>
            <p>{{collegue.name}}</p>
            <p>{{collegue.firstName}}</p>
            <p>{{collegue.birthDate}}</p>
            <p>{{collegue.phone}}</p>
            <p>{{collegue.email}}</p>
            <p>{{collegue.adress}}</p>
            <p>{{collegue.password}}</p>

  
  
          <div class="text-center">
            <input type="submit" mdbBtn class="waves-light btn" mdbWavesEffect value="Modifier votre profil">
          </div>
          <div *ngIf="err" class="text-danger">
            Oops, les informations saisies ne permettent pas de vous authentifier.
          </div>
        </form>
      </mdb-card-body>
    </mdb-card>
  </div>