<div class="row justify-content-center align-items-center rowMargeTop">
    <img src="https://media.giphy.com/media/3oEduSyEJzGEm60xR6/giphy.gif">
</div>
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <h1>Grimpez-nous !</h1>
    </div>
      <div class="row justify-content-around align-items-center rowMarge">
      <div class="col-sm-6">
          <!-- Default form contact -->
<form class="text-center border border-light p-5">

    <p class="h4 mb-4">Contactez-nous !</p>

    <!-- Name -->
    <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Nom">

    <!-- Email -->
    <input type="email" id="defaultContactFormEmail" class="form-control mb-4" placeholder="E-mail">

    <!-- Subject -->
    <label>Catégories</label>
    <select class="browser-default custom-select mb-4">
        <option value="" disabled>Choisissez votre catégorie</option>
        <option value="1" selected>Accessoires</option>
        <option value="2">Baudriers</option>
        <option value="3">Système d'assurage</option>
        <option value="4">Chaussons</option>
    </select>

    <!-- Message -->
    <div class="form-group">
        <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Message"></textarea>
    </div>

    <!-- Copy -->
    <div class="custom-control custom-checkbox mb-4">
        <input type="checkbox" class="custom-control-input" id="defaultContactFormCopy">
        <label class="custom-control-label" for="defaultContactFormCopy">Envoyez une copie du message</label>
    </div>

    <!-- Send button -->
    <button class="btn btnForm btn-block" type="submit">Envoyer</button>

</form>
<!-- Default form contact -->
        </div>
      <div id="map" class="col-sm-6">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2888.486779652506!2d3.8221346158329736!3d43.61722647912256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b6ac29ebeeac1d%3A0x3e7dcc4b759416d0!2s35+Rue+Maurice+B%C3%A9jart%2C+34080+Montpellier!5e0!3m2!1sfr!2sfr!4v1541172592380" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
  </div>
</div>