<div id="authentification">

    <mdb-card class="animated zoomIn">
        <mdb-card-header class="white-text">
          <h4 class="text-center">Authentification</h4>
        </mdb-card-header>
            <mdb-card-body>
          <form>
            <div class="md-form">
              <i class="fa fa-envelope prefix grey-text"></i>
              <input type="text" [validateSuccess]="false" data-error="Une adresse email est requise" id="defaultForm-email" class="form-control" name="email" mdbInputDirective [(ngModel)]="collegue.email" required>
              <label for="defaultForm-email">Email</label>
            </div>
  
            <div class="md-form">
              <i class="fa fa-lock prefix grey-text"></i>
              <input type="password" id="defaultForm-pass" [validateSuccess]="false"  data-error="Un mot de passe est requis" name="password" class="form-control" mdbInputDirective [(ngModel)]="collegue.password" required>
              <label for="defaultForm-pass">Mot de passe</label>
            </div>
  
            <div class="text-center">
              <input type="submit" mdbBtn class="waves-light" mdbWavesEffect value="Se connecter" (click)="connecter()">
            </div>
            <div *ngIf="err" class="text-danger">
              Oops, les informations saisies ne permettent pas de vous authentifier.
            </div>
            <hr>
            <div class="ajoutUser">
                <p>Vous n'avez pas de compte ?</p>
                <input type="submit" mdbBtn class="waves-light" mdbWavesEffect value="Créer un compte" onclick="window.location='utilisateur/creer-compte'">
            </div>
          </form>
        </mdb-card-body>
      </mdb-card>
    </div>