<nav>
  <div id="menu">
    <div class="menuGauche">
      <ul>
        <li><a routerLink="/accueil" routerLinkActive="active-link">Accueil</a></li>
        <li class="menuHover"><a routerLink="" routerLinkActive="active-link">Produits</a>

          <ul class="sousMenu">
            <li><a routerLink="" routerLinkActive="active-link">Chaussons</a></li>
            <li><a routerLink="" routerLinkActive="active-link">Baudriers</a></li>
            <li><a routerLink="" routerLinkActive="active-link">Système d'assurage</a></li>
            <li><a routerLink="" routerLinkActive="active-link">Accessoires</a></li>
          </ul>
        </li>
        <!--<div *ngIf="menuAdmin">-->
          <li><a routerLink="" routerLinkActive="active-link">Gestion des produits</a></li>
          <li><a routerLink="" routerLinkActive="active-link">Gestion des commandes</a></li>
        <!-- </div> -->
        <li><a routerLink="" routerLinkActive="active-link">Mon panier</a></li>
        <!--<div *ngIf="menuAdmin">-->
          <li><a routerLink="/gestion-des-produits" routerLinkActive="active-link">Gestion des produits</a></li>
          <li><a routerLink="" routerLinkActive="active-link">Gestion des commandes</a></li>
        <!--</div>-->
        <li><a routerLink="/contact" routerLinkActive="active-link">Contact</a></li>
      </ul>
    </div>
    <div class="menuDroite">
      <ul>
        <li class="menuHover"><a routerLink="/auth" routerLinkActive="active-link">Connexion</a>
          <!-- <div *ngIf="menuVisiteur"> -->
           <ul class="sousMenu">
             <li><a routerLink="" routerLinkActice="active-link">Mon profil</a></li>
             <li><a routerLink="" routerLinkActive="active-link">Historique de mes commandes</a></li>
            </ul>
          <!-- </div> -->
        </li>
      </ul>      

    </div>
  </div>
</nav> 