<nav>
  <div id="menu">
    <div class="menuGauche">
      <ul>
        <li><a routerLink="/accueil" routerLinkActive="active-link">Accueil</a></li>
        <li class="productMenu"><a routerLink="" routerLinkActive="active-link">Produits</a>
          <ul class="sousMenu">
            <li><a routerLink="" routerLinkActive="active-link">Chaussons</a></li>
            <li><a routerLink="" routerLinkActive="active-link">Baudriers</a></li>
            <li><a routerLink="" routerLinkActive="active-link">Système d'assurage</a></li>
            <li><a routerLink="" routerLinkActive="active-link">Accessoires</a></li>
          </ul>
        </li>
        <li><a routerLink="" routerLinkActive="active-link">Mon panier</a></li>
        <div *ngIf="menuAdmin">
          <li><a routerLink="" routerLinkActive="active-link">Gestion des produits</a></li>
          <li><a routerLink="" routerLinkActive="active-link">Gestion des commandes</a></li>
        </div>
        <li><a routerLink="" routerLinkActive="active-link">Contact</a></li>
      </ul>
    </div>
    <div class="menuDroite">
      <ul>
        <li><a routerLink="/auth" routerLinkActive="active-link">Connexion</a>
          <div *ngIf="menuUtilisateur" class="sousMenu">
            <li><a routerLink="" routerLinkActive="active-link">Mon profil</a></li>
            <li><a routerLink="" routerLinkActive="active-link">Historique de connexion</a></li>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>