<!-- Card -->
<mdb-card>
  <div class="col-sm-12">
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      <!-- Card img -->
      <mdb-card-img src={{product.photo}} alt="product picture"></mdb-card-img>
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        <h4>{{product.name}}</h4>
      </mdb-card-title>
  
      <!--Text-->
      <mdb-card-text> 
        <p>{{product.price}}</p>
        <p>{{product.quantity}}</p>
        <p>{{product.description}}</p>
        <p [hidden]="!isLessThan10()">Il n'en reste que : {{product.quantity}} à grimper !</p>
      </mdb-card-text>
  
      <button [disabled]="!isAvailable()" mdbBtn color="primary" mdbWavesEffect (click)="addToPanier()">Grimper au panier</button>
      <a href="detail/{{product.name}}" mdbBtn color="primary" mdbWavesEffect>Détails</a>
      <p [hidden]="isAvailable()">Il n'en reste plus !</p>

      <div class="" *ngIf="admin">
          <button mdbBtn color="warning" mdbWavesEffect (click)="modifyProduct()">Modifier</button>
          <button mdbBtn color="danger" mdbWavesEffect (click)="deleteProduct()">Supprimer</button>
      </div>

    </mdb-card-body>
  </div>
</mdb-card>
  <!-- Card -->