<div class="container">
  <div class="row justify-content-around align-items-center">
    <h1>Votre panier</h1>
  </div>

<div *ngFor="let item of panierList | keyvalue">
    <div class="row justify-content-around align-items-center">

      <div class="col-3">
          <img src="{{item.key.photo}}">
      </div>
      <div class="col-7">
          <p>{{item.key.name}}</p>
          <p>Prix unitaire : {{item.key.price}}</p>
          <p>Quantité sélectionnée : {{item.value}}</p>
          <button (click)="addOne(item.key)">+</button>
          <button (click)="subtractOne(item.key)">-</button>
      </div>
      <div clas="col-2">
          <p>Prix : {{item.key.price*item.value}}</p>
          <button>Supprimer votre article</button>
      </div>
  </div>
</div>

</div>