/***************************************************************** COLOR SITE ***************************************************************************/
/* -- bleu: #05668D; -- vert: #02C39A; **/

/******************************************************************* GLOBAL *****************************************************************/
* {
    box-sizing: border-box;
    margin: 0; 
}



   
    /********************************************************************* MENU *****************************************************************/
    nav{
    /*background-color: #02C39A;*/
    margin: 0; 
    color: #02C39A;
    padding: 20px 0;
    width: 100%;
    font-weight: 400;
    font-size: 17px;
}

    

#menu{
    display: flex;
    width: 100%;
}

   
#menu ul {
    list-style: none;
    display: flex;
    margin-bottom: 0;
    align-items: center;
    padding-left: 0;
}



.menuGauche{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 50px;
}


    
.menuDroite{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 50px;
}

#menu a{
    padding: 25px 10px;
    color: #02C39A;
}
    
ul.sousMenu{
    position: absolute;
    flex-direction: column;
    opacity: 0;
    transition: .3s ease-in-out;
    background-color: #02C39A;
    text-align: left;
    margin-top: 5px;
}

ul.sousMenu a{
    color: white !important;
    margin-top: 20px;
}

ul.sousMenu a{
    color: white !important;
      margin-top: 5px;
}

/*
.active-link{
    text-transform: uppercase;
}
*/


.productMenu:hover ul.sousMenu{
    opacity: 1;
    transition: .3s ease-in-out;
}



    
    /********************************************************************* SLIDER ************************************************************************/
    #slider{
    background: url(https://images.pexels.com/photos/303040/pexels-photo-303040.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 500px;
}


    
#slider app-menu{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

#slider .entete{
    display: flex;
    justify-content: center;
    align-items: center;
}

.entete p {

    font-weight: 700;
    color: white;
    font-size: 50px;
    padding: 200px 0;
}



/*************************************************************************** CONNEXION **********************************************************************/
mdb-card-header.white-text.card-header{
    background-color: #05668D;
}

#authentification .btn{
    background-color: #02C39A;
}

.ajoutUser{
    padding: 30px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

/*************************************************************************** AUTHENTIFICATION **********************************************************************/
@media screen and (min-width: 1280px){
    #form{
        width: 100%;
        margin: auto;
        display: flex; 
        justify-content: center;
        align-items: center;
        padding: 100px 250px;
    }
}

mdb-card-header.white-text.card-header{
    background-color: #02C39A;
}

#form .btn {
    background-color: #05668D;
}

#form mdb-card.animated.zoomIn.card{
    width: 50%;
}

.ajoutUser{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 30px 0px;
}
.ajoutUser p{
    color: #9e9e9e;
}
 

    


/******************************************************************************* PRODUITS ************************************************************************/
.productItem{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    float: left;
}


.rowCategorie{
    padding: 50px 0;
}

/*************************************************************************** RESPONSIVE **********************************************************************/
@media screen and (min-width: 1280px) {
    #authentification{
        padding: 100px 250px 0 250px;
        width: 70%;
        margin: auto;
    }
}


/************************************************************************ FORMULAIRE *****************************************************************/
app-order-management #form{
    flex-direction: column;
}

/*
app-order-management .md-form{
    width: 50%;
}
  */  


/**************************************************************************** PAGE PRODUIT ****************************************************/
#rowProduit{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 50px;
}

#rowProduit svg{
    max-width: 30%;
    height: auto;
    margin-bottom: 15px;
    fill: white;
}

.blocProduit:nth-child(1), .blocProduit:nth-child(3){
    background-color: #02C39A;
}

.blocProduit:nth-child(2), .blocProduit:nth-child(4){
    background-color: #05668D;
}

.blocProduit p{
    margin-bottom: 0;
}

.blocProduit{
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    margin: 0 1%;
    cursor: pointer;
    width: 15%;
}


    /*************************************************************************** RESPONSIVE **********************************************************************/
