<div class="styleFormulaire">

  <h2>Créer un produit</h2>

  <form (ngSubmit)="submit()" #localForm="ngForm">

    <div class="container">

      <div class="row">
        <div class="col-4"> <label for="name">Nom Produit :</label> </div>
        <div class="col-10"> <input mdbInput mdbValidate [(ngModel)]="createProdForm.name" name="name" id="name"
            placeholder="Nom Produit" required minlength="2"> </div>
      </div>

      <div class="row">
        <div class="col-5"> <label for="photo">Url de l image :</label> </div>
        <div class="col-7"> <input mdbInput mdbValidate [(ngModel)]="createProdForm.photo" name="photo" id="photo"
            required> </div>
      </div>

      <!-- <div class="row">
        <div class="col-5"> <label for="category">Catégorie :</label> </div>
        <div class="col-7">
          <mdb-select [(ngModel)]="createProdForm.category" [options]="categoriesSelect" [multiple]="false" placeholder="Choix de la catégorie"
            name="category" id="category" required></mdb-select>
        </div>
      </div> -->


      <div class="row">
        <div class="col-5"> <label for="price">Prix :</label> </div>
        <div class="col-7"> <input mdbInput mdbValidate [(ngModel)]="createProdForm.price" name="price" id="price"
            required type="number"> </div>
      </div>



      <div class="row">
        <div class="col-3"> <label for="quantity">Quantité :</label> </div>
        <div class="col-6"> <input mdbInput mdbValidate [(ngModel)]="createProdForm.quantity" name="quantity" id="quantity"
            required type="number"> </div>
        <div class="col-3">
          <mdb-checkbox [(ngModel)]="createProdForm.state" [checked]="true" type="boolean">Disponible à la vente</mdb-checkbox>
        </div>
      </div>


      <!-- <div class="row">
        <div class="col-5"> <label for="description">Descriptif :</label> </div>
        <div class="col-7"> <textarea [(ngModel)]="createProdForm.description" name="description" id="description"
            required> </div>
      </div> -->


      <div class="row justify-content-center">
        <div class="col-2">
         <button type="submit" class="btn blue-gradient btn-block btn-rounded" 
            [disabled]="!localForm.valid">C r é e r</button>
        </div>
      </div>
    
    </div>

  </form>
</div>