<div class="styleFormulaire">

  <h2>Créer un produit</h2>

  <form (ngSubmit)="submit()" #localForm="ngForm">

    <div class="container">

      <div class="row">
        <div class="col-offset-4 col-4"> <label>Nom Produit :</label>  </div>
        <div class="col-4"> <input [(ngModel)]="createProdForm.name" name="name" required minlength="2"> </div>
      </div>

      
      <div class="row">
        <div class="col-offset-4 col-4"> <label>Url de l'image :</label>  </div>
        <div class="col-4"> <input [(ngModel)]="createProdForm.photo" name="photo" required> </div>
      </div>

      
      <div class="row">
        <div class="col-offset-4 col-4"> <label>Descriptif :</label>  </div>
        <div class="col-4"> <textarea [(ngModel)]="createProdForm.description" name="description" required> </div>
      </div>

      : string; price: number;
  category: ProductType; state: boolean; quantity: number

      
          <label>Pseudo</label>
       <input [(ngModel)]="createProdForm.pseudo" name="pseudo" required>

 
          <label>url de la photo :</label>
          <input [(ngModel)]="createProdForm.lienPhoto" name="lienPhoto" required>

    <div class="row justify-content-center">
      <div class="col-2">
        <button type="submit" class="btn blue-gradient btn-block btn-rounded" 
          [disabled]="!localForm.valid">C r é e r</button>
      </div>
    </div>
  </form>

  <!-- <p *ngIf="statusRequete"><strong> Status de l'envoie :</strong> {{statusRequete[1] | json}}</p> -->

</div>